*	{
		margin:0px;
		padding:0px;
}

@media screen	and	(max-aspect-ratio: 13/9) {
		body {
				width: 100%;
				background-color:#fff;
				margin:	0	auto;
				line-height:18px;
		}
}

@media screen	and	(min-aspect-ratio: 13/9) {
		body {
				width: 75%;
				background-color:#fff;
				margin:	0	auto;
		}
}

img	{
		width:100%;
		display:block;
}

div, p {
		font-size:12pt;
		font-family:arial, helvetica,	sans-serif;
		-webkit-margin-before: 0px;
		-webkit-margin-after:	0px;
		-webkit-margin-start:	0px;
		-webkit-margin-end:	0px;
}

label	{
		font-family:arial, sans-serif;
}

input[type=text],
input[type=url],
input[type=email],
input[type=password],
input[type=tel]	{
		-webkit-appearance:	none;
		-moz-appearance: none;
		display: block;
		padding-left:5px;
		margin-right:	-5px;
		margin-bottom:10px;
		width: 100%;
		height:	40px;
		line-height: 40px; font-size:	17px;
		border:	1px	solid	#000;
		-webkit-border-radius: 5px;
		-moz-border-radius:	5px;
		border-radius: 5px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing:	border-box;
		box-sizing:	border-box;
}

select {
		-webkit-appearance:	none;
		-moz-appearance: none;
		display: block;
		margin:	0px	5px	10px 0px;
		padding-left:5px;
		width: 100%;
		height:	40px;
		line-height: 1.4;
		font-size: 17px;
		border:	1px	solid	#000;
		-webkit-border-radius: 5px;
		-moz-border-radius:	5px;
		border-radius: 5px;
}

input[type=checkbox] {
		width: 44px; height: 44px;
		border:	1px	solid	#000;
		-webkit-border-radius: 5px;
		-moz-border-radius:	5px;
		border-radius: 5px;
}

button[type=submit]	{
		-webkit-appearance:none;
		-moz-appearance:none;
		display: block;
		cursor:pointer;
		margin-top:	25px;
		font-size: 2em;
		/*line-height: 3em;*/
		font-weight: bold;
		/*height:	3em;*/
		width: 100%;
		-webkit-border-radius: 3px;
		-moz-border-radius:	3px;
		border-radius: 3px;
		font-family:arial, helvetica,	sans-serif;
		text-decoration:none;
		display:inline-block;
		text-shadow: -1px	-1px 0 rgba(0,0,0,0.3);
		font-weight:bold;
}

/* ------------------------------------- HOME	-------------------------------------------	*/

#top-1 {
		display:block;
		font-size: 0;
}

#top-2 {
		display:block;
		font-size: 0;
		background-color:white;
}

#top-3 {
		background-color:#b4e07e;
		overflow:auto;
		display:block;
		font-size: 0;
}

.linebreak{
	height:5px;
	background-color:#ECECEC;
	}

#formheader	{
		width:auto;
}

#formheader	p	{
		padding:20px;
}

.checkoutform	.error {
		border:	1px	solid	red;
}

.partialform .error	{
		border:	1px	solid	red;
}

.partialform {
		width:auto;
		padding:20px;
		background-color:#fff;
}

.partialform button	{
		color: #FFFFFF;
		background:	#7F369E; /*	Old	browsers */
}

#content-1 {
	width:auto;
		background-color:#fff;
		border:none;
		outline:none;
		font-size:16px;
}

#content-1 p {
		padding:20px;
		font-size:11px;
		color:#000;
}

#content-2 {
		width:auto;
		background-color:#fff;
}

#content-2 p {
		padding:10px 20px 20px 20px;
}
#content-22 {
		width:auto;
		background-color:#fff;
}

#content-22 p {
		padding:10px 20px 0px 20px;
}
#content-22 ul {
		margin:20px 5px;
		padding:0;
		font-size:11px;
		list-style-type: none;
}
#content-22 ul li {
		margin:0px 0 10px 0;
		padding:0;
		font-size:11px;
		/* background-image: url("../img/check.jpg"); */
background-repeat: no-repeat;
background-position: 0px 3px; 
padding-left: 30px;

}

#content-3 {
		width:auto;
		background-color:#fff;
}

#content-3 p {
		padding:20px;
}

#content-4 {

}

#content-4 p {
		padding:20px;
}

#content-5 {
		width:auto;
		background-color:#ffdcdf;
}

#content-5 p {
		padding:0	20px 20px	20px;
}

#content-6 {
		width:auto;
		background-color:#fff;
}

#content-6 p {
		padding:20px;
}

#content-7 {
		width:auto;
}

#content-7 p {

}

#content-8 {
		width:auto;
		background-color:#fff;
}

#content-8 p {
		padding:20px;
}

#content-9 {
		width:auto;
}

#content-9 p {

}

/* ------------------------------------- CHECKOUT	---------------------------------------- */

#checkoutpagecontainer {
		background-color:	#f5e3bf;
}

#product {
		width:auto;
		padding:0px;
		background-color:#f5e3bf;
		overflow:auto;
}

#product p {
		padding:0px	20px 20px	0px;
}

#product table {
		padding:0px	20px 20px	0px;
}

#product table td:nth-child(2) {
		font-weight:bold;
}

#product table td	{
		vertical-align:top;
		padding:5px	0;
		border-bottom:1pt	solid	black;
}

#onethird	{
		width:40%;
		float:left;
}

#twothirds {
		width:60%;
		float:left;
}


#checkout-form {
		width:auto;
		padding:20px;
		background-color:#fff;	
}

#checkout-form button	{
		color: #FFFFFF;
		background:	#F60085; /*	Old	browsers */
}

#shipping {
		width:auto;
		padding:0px;
		background-color:#fff;
		overflow:auto;
}

#shipping p {
		padding:0px	20px 20px	0px;
}

#shipping table {
		padding:0px	20px 20px	0px;
}

#shipping table td:nth-child(2) {
		font-weight:bold;
}

#shipping table td	{
		vertical-align:top;
		padding:5px	0;
		border-bottom:1pt	solid	black;
}

#checkout-content-1 {
		padding:20px;
		color:#777;
		background-color:#fff;
}

/* ------------------------------------- RECEIPT ----------------------------------------	*/

#receipt-top-1 {
	display:block;
	font-size: 0;
}

#receipt-top-2 {
	background-color:#fff;
	overflow:auto;
	display:block;
	padding:20px;
}

#receipt-top-2 a {
	display:block;
	font-size: 10pt;
}

#receipt-top-2 p {
	background-color:#fff;
	font-weight:bold;
	color:#555;
	text-align:center;
	font-size: 18pt;
	line-height:26px;
}

#receipt-top-3 {
	background-color:#fff;
	overflow:auto;
	display:block;
	font-size: 0;
}

#receipt-top-3 p {
	background-color:#fff;
	font-weight:bold;
	color:#A10332;
	text-align:center;
	overflow:auto;
	display:block;
	font-size: 18pt;
}

#receipt-onethird {
	width:30%;
	float:right;
}

#receipt-twothirds {
	width:70%;
	float:right;
	background-color:#f5e3bf;
}

#receipt-content-1 {
	width:auto;
	background-color:#eee;
}

#receipt-content-1 p {
	padding:20px;
}

#receipt-content-1 p.statement-descriptor{
	padding-top: 0;
}

#receipt-content-1 table {
	width:100%;
	padding:20px;
}

#receipt-content-1 #info {

}

#receipt-content-1 #items {

}

#receipt-content-1 #items td:nth-child(2) {
	text-align:right;
	font-weight:bold;
}

#receipt-content-1 #items td {
 border-bottom:1px dotted #555;
}

#receipt-content-1 #total {
	text-align:right;
	padding:20px;
}

#receipt-content-2 {
	width:auto;
	background-color:#fff;
}

#receipt-content-2 p {
	padding:20px;
}

#receipt-content-3 {
	width:auto;
	background-color:#fff;
}

#receipt-content-3 p {
	color:#777;
	font-size:12pt;
	padding:20px;
}

/* ------------------------------------- FOOTER	------------------------------------------ */

#footer	{
		color:#777;
		background-color:#fff;
		padding:10px;

}

#disclaimer	{
		color:#777;
		background-color:#fff;
		padding:20px;
	font-size:12px;
}

#footer{
	text-align: center;
}