@charset "UTF-8";
/* CSS Document */

@import url(//fonts.googleapis.com/css?family=Sorts+Mill+Goudy);
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:500,600');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
body, html { overflow-x:hidden; }
body{
	font-family:"Lato", sans-serif, Arial;
	margin:0;
	padding:0;
	width: auto !important;
  overflow-x: hidden !important;
	}
.navbar {
	margin-bottom:0;
    border:none;
}
p{
    font-size:1.2em;
}
.headerbg{
	background:url(../images/mainmodeldk.jpg) top center no-repeat;
	min-height: 1018px;
    background-color: #000;
}
@keyframes btn_anim {
	from {
		-ms-transform: scale(0.9, 0.9);
		/* IE 9 */
		-webkit-transform: scale(0.9, 0.9);
		/* Safari */
		transform: scale(0.9, 0.9);

	}
	to {
		-ms-transform: scale(1.02, 1.02);
		/* IE 9 */
		-webkit-transform: scale(1.02, 1.02);
		/* Safari */
		transform: scale(1.02, 1.02);

	}
}
.mediabar{
    background-color: #f7f7f7;
    padding:1em
}
.btn_pulse {
	animation-name: btn_anim;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite
}
.viraltext{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size:25px;
	font-weight:300;
	color:#050505;
	padding:25px 75px !important;
	display: block;
}
.formSeals {
	padding:15px 0 15px 0;
}
.formBox{
	background-color:#fff;
	border-radius: 20px;
	border:4px solid #fff;
	overflow: hidden;
}
.formTop{
	background: #ff5a00;
	padding:20px;
	color:#fff;
	font-size:40px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight:500;
	text-align: center;
	line-height:35px;
    margin:0;
	overflow: visible;
}
.formTop img{
	float:right;
	position:absolute;
	top: 100px;
	right: -30px;
	padding:0;
	margin:0;
}
.formBody{
	padding:0 0 25px 0;


}
.benefits-btl{
    margin-top:-50px;
}
#section1 h2{
	font-size:32px;
	font-family:'Barlow Condensed', sans-serif;
	font-weight:600;
	color:#000;
}
#section1 .highlight{
	
	color:#04a8f5
}
#section1 h1{
    color:#ff5a00;
    font-family:'Barlow Condensed',sans-serif;
    font-style: italic;
    letter-spacing: -2px;
        font-size:70px;
    text-align: center;
    font-weight:500;
    margin-top:-15px;
    line-height:80px;
       
}
.lgr1{
    font-size:105px;
    letter-spacing: -3px;
        
}
#section1 h3{
    font-size:35px;
    color:#000;
    font-family:'Barlow Condensed', sans-serif;
    text-align: center;
   margin-bottom:-25px;
    margin-top:50px;

}
.desktop{
	display:block;
	}
.mobile{display:none;}
.nopad{padding:0;margin:0;}
.orange12{
	float:right;
	}
.knav{
	color:#fff;
	}
.knav li a{
	color:#fff !important;
	font-weight:300;
	}
.knav li a:hover{
	color:#ff8400 !important;
	}
.FormSub{
	font-size:30px;
	font-family:"Montserrat", sans-serif;
	color:#333;
	font-weight:700;
	}
.FormTop{
	font-size:48px;
	color:#333;
	font-family:"Montserrat", sans-serif;
	font-weight:700;
	}
.refferer{
	font:11px "Open Sans", sans-serif;
	color:#333;
	font-weight:bold;
	line-height:0px !important;
	}
.independent{
	font-size:10px;
	}
.independent a{
	color:#fff;
	}
.contactInfo{
	background:#333;
	color:#ccc;
	padding:3px;
	text-align:center;
	}

.grabberText{
	font-family:"Open Sans", sans-serif;
	font-weight:200;
	color:#fff;
	font-size:28px;
	}
.grabberText strong{
	font-weight:700;
	}
.grabberText2{
	font-family:"Open Sans", sans-serif;
	font-weight:300;
	color:#fff;
	font-size:48px;
	}
.grabberText2 strong{
	font-weight:600;
	font-style:italic;
	}
.videoQuote{
	font-family:"Open Sans", sans-serif;
	color:#075564;
	font-size:34px;
	font-weight:300;
	line-height:33px;
	padding-top:10px;
	}
.grabberM{
	display:none;
	}
.bar60{
    font-family:'Barlow Condensed', sans-serif;
    font-size:70px;
    font-style:italic;
    letter-spacing: -3px;
}
.bar30{
    font-family:'Barlow Condensed', sans-serif;
    font-size:36px;
    color:#000;
    letter-spacing: -1px;
}
.lat30{
    font-family:'Lato', sans-serif;
    font-size:30px;
    color:#000;
}
.bar150{
    font-family:'Barlow Condensed', sans-serif;
    font-size:150px;
    font-style:italic;
    letter-spacing: -7px;
}
.bar90{
    font-family:'Barlow Condensed', sans-serif;
    font-size:90px;
    font-style:italic;
    letter-spacing: -3px;
}
.lat33{
    font-family:'Lato', sans-serif;
    font-size:23px;
}
.mont60{
	font-family:"Montserrat", sans-serif;
	color:#333;
	font-size:60px;
	font-weight:400;
	}

.mont50{
	font-family:"Montserrat", sans-serif;
	color:#333;
	font-size:50px;
	font-weight:400;
	}
.mont32{
	font-size:32px;
	font-family:"Montserrat", sans-serif;
	font-weight:600;
	}
	.sub{
	margin-top:150px;
	}
.os28{
	font:28px "Lato", sans-serif;
	color:#666;
	line-height:normal;
	font-weight:300;
	}
.lighter{
	font-weight:300 !important;
	}
.semi{font-weight:300;}
.dark{color:#333;}
.orange{
	color:#fc4200;
	}
.montbold{
	font-family:"Montserrat", sans-serif;
	font-weight:700;
	}
.c2abtn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight:600;
  color: #ffffff;
  font-size: 34px;
  background: #ff6600;
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  border:none;
}

.c2abtn:hover {
  background: #f24d11;
  text-decoration: none;
}
#results{
    padding-top:20px; 
    text-align: center;
}
#results h1{
    font-size:65px;
    font-family:'Barlow Condensed', sans-serif;
    font-style: italic;
    letter-spacing: -3px;
    padding-bottom:20px;
}
#results .callout{
    font-size:24px;
    font-weight: bold;
}
#results .callout span{
    color:#04a8f5;
}
#results h3{
    font-size:35px;
    font-family:'Barlow Condensed', sans-serif;
    letter-spacing: -1px;

}
#steps h4{
    color:#04a8f5;
    font-family:'Barlow Condensed', sans-serif;
    font-size:34px;
    margin-bottom:0;
    padding-bottom:0;
}
#steps h5{
    color:#000;
    font-family:'Barlow Condensed', sans-serif;
    font-size:24px;
    margin-top:0;
    padding-bottom:20px;
}
#steps .col-sm-4{
    padding:40px;
}
#release h1{
    font-size:65px;
    font-family:'Barlow Condensed', sans-serif;
    font-style: italic;
    letter-spacing: -3px;
    color:#ff5a00;
}
#release .callout{
    font-size:24px;
    font-weight: bold;
}
#release ul li{
    font-size:16px;
    font-weight:bold;
    padding-bottom:10px;
    margin-top:10px;
}
#morebenefits h2{
    color:#ff5a00;
    font-family:'Barlow Condensed',sans-serif;
    letter-spacing: -1px;
        font-size:32px;
}
.bigbar{
    border-top:17px solid #ff5a00;
}
.itali{font-style:italic;}
.super{font-weight:800;}
.os46{
	font-size:46px;
	}
.os33{
	font-size:33px;
	text-transform:uppercase;
	}
.os32{
	font-size:32px;
	}
.os59{
	font-size:59px;
	}
.os18{
	font-size:18px;
	}
.opensans{
	font-family:"Open Sans", sans serif;
	}
.space{
	height:40px;
	display:block;
	}
.space75{
	height:75px;
	display:block;
	}
.top-margin20{
	margin-top:20px;
	}
.top-margin80{
	margin-top:80px;
	}
.halfspace{
	height:20px;
	display:block;
	}
.blue{
	color:#1496c6;
	}
.green{
	color:#6ead53;
	}
.black{color:#000;}
.centered{margin:auto !important;text-align:center !important;}

.testimonial1Title{
	text-align:center;
	margin-top:173px;
	font-family:"Lato", sans-serif;
	color:#fff;
	font-size:54px;
	font-weight:800;
	}
.t1tsub{
	font-family:"Lato", sans-serif;
	color:#000;
	font-size:18px;
	font-weight:500;
	text-align:center;
	}
.t1sub2{
	font-size:38px;
	color:#fff;
	font-weight:300;
	
	}
.t1txt{
	color:#fff;
	}

.testimonial2Title{
	text-align:center;
	margin-top:123px;
	font-family:"Lato", sans-serif;
	color:#fff;
	font-size:54px;
	font-weight:800;
	}

.testimonial3Title{
	text-align:center;
	margin-top:143px;
	font-family:"Lato", sans-serif;
	color:#fff;
	font-size:54px;
	font-weight:800;
	}

.vsdwn{display:none;}
.TitleO{
	border-bottom:1px solid #ff6600;
	padding-bottom:15px;
	margin-bottom:40px;
	}
.content{
	color:#666;
	}
.productBox{
	padding:20px 0 20px 0;
	border-bottom:1px solid #ccc;
	display: table;
	}
.horizontalLine{
	border-bottom: 1px solid #ccc;
	padding:20px 0 20px 0;
}
.productBoxLast{
	padding:20px 0 20px 0;
	}
.productTitle{
	padding-bottom:10px;
	font-size:32px;
	color:#ff6600;
	font-weight:600;
	font-family:"Montserrat", sans-serif;
	}
.productTitleSub{
	padding-bottom:10px;
	font-size:32px;
	color:#ff6600;
	font-weight:300;
	}
.productSub{
	font-size:18px;
	color:#000;
	padding-bottom:10px;
	}

.ftrCloserM{
	display:none;
}
.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.customer-connect p{
	color:#455157;
	line-height:25px;
	}
.customer-connect .lead{
	color:#455157;
	}
.imgFtr{
	width:100%;
	background:#455157;
	padding:10px;
	color:#fff;
	font-size:14px;
	font-family:"Oswald", sans-serif;
	font-weight:300;
	text-align:center;
	}
.btn-orange {
  color: #fff;
  background-color: #ff6600;
  
}
.btn-orange:focus,
.btn-orange.focus {
  color: #fff;
  background-color: #ff5400;
  
}
.btn-orange:hover {
  color: #fff;
  background-color: #ff5400;
  
}
a .btn-orange:hover{
	text-decoration:none;
	}
.btn-orange-outline {
  color: #ff6600;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #ff6600 inset;
  font-size:16px;
  
}
.btn-orange-outline:focus,
.btn-orange-outline.focus {
  color: #fff;
  background-color: #ff6600;
  
}
.btn-orange-outline:hover {
  color: #fff;
  background-color: #ff6600;
  
}
.btn-max{
max-width:250px;	
}
.imgFtr h1{
	color:#fff;
	font-family:"Oswald", sans-serif;
	font-size:22px;
	margin:0;
	padding:0;
	margin-bottom:0;
	padding-bottom:0;
	font-weight:400;
	text-align:center;
	text-transform:uppercase;
	}
.oswald{
	font-family:"Oswald", sans-serif;
	}
.bottomSpace{
	padding:0 0 60px 0;
	}
.contactList{
	list-style-type:none;
	margin:20px 0 20px 0;
	padding:0;
	}
.contactList a{
	color:#626573;
	text-decoration:none;
	}
.contactList li{
	padding:5px 0 5px 5px;
	}
.contactList li:hover{
	color:#ff6600;
	}
.contactList li i:hover{
	color:#ff6600;
	}
.socialList {
 overflow: auto;
 margin-left:0;
 padding-left:0;
}
 
.socialList li {
 list-style-type: none;
 float: left;
}
 
.socialList li a i {
 background: #626573;
 color: #fff;
 width: 40px;
 height: 40px;
 border-radius: 20px;
 font-size: 25px;
 text-align: center;
 margin-right: 10px;
 padding-top: 15%;
}
.socialList li a i:hover {
 background: #ff6600;
}
.theproofD{
	background:url(../images/proof-bg.jpg) top center no-repeat;
	}
.theproofD h1{
	font-family:"Permanent Marker", sans-serif;
	font-size:32px;
	color:#363535;
	margin:15px 0;
	text-align:center;
	}
.theproofD h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:160px;
    color:#ff5a00;
    font-style: italic;
    letter-spacing: -10px;
    margin-top:100px;
}
.theproofD p{
	font-size:12px;
	color:#363535;
	font-weight:bold;
	}
.theproofD button{
	background:transparent;
	border:2px solid #000;
	font-family:"Montserrat", sans-serif;
	color:#000;
	padding:10px 15px;
	}
 .theproofM{
	 display:;
	 }
.ketosis-banner{
	background:url(../images/man-bg.jpg) top center no-repeat;
	min-height:800px;
	padding-top:230px;
	}
.grul li i{
    color:#00b100;
}

.fbbox{
    background: #fff;
    box-shadow: 0px 0px 20px #ccc;
    border-radius: 5px;
}
.fbboxInner{
    padding:5%;
}
.subrecent{
    font-size:.8em
}

.heartbeat {
  animation: 5s infinite beatHeart;
}
.media {
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid #E2E2E2;
}
.media-left img {

    margin-top: 6px;
    border-radius: 30px;
    margin-right: 20px;

}
.media-body h4 a {

    font-family: arial, sans-serif;
    font-size: 13px;
    color: #3B5998;
    margin: 0 0 5px 0;
    line-height: 14px;
    font-weight: bold;

}
.media-body p {

    font-family: arial, sans-serif;
    font-size: 12px;
    color: #1A1A1A;
    line-height: 15px;
    margin: 0 0 5px 0;

}
.media-body p.bottom {

    color: #3B5998;

}
.media-body p.bottom .time {

    color: #808080;
    border-bottom: 1px dotted #808080;

}
@keyframes beatHeart {
  from { transform: scale(1); }
  20% { transform: scale(1.03); }
  to { transform: scale(1); }
}
.heartbeat {
  animation: 2s infinite beatHeart;
}
.stayingKetosis{
	background:url(../images/7day-bridge-ketopia-ketosis-bg2.jpg) top center no-repeat;
	min-height:847px;
	padding-top:320px;
	}
.stayingKetosis h2{
	font-family:"Montserrat", sans-serif;
	color:#262626;
	font-size:144px;
	font-weight:600;
	padding:0;
	margin:0;
	text-align:center;
	}
.stayingKetosis h3{
	font-family:"Montserrat", sans-serif;
	color:#fff;
	font-size:45px;
	padding:0;
	margin:0;
	text-align:center;

	}
.infobtn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  font-size: 14px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

.infobtn:hover {
  background: #000;
  text-decoration: none;
  color:#fff;
}
.ketopiainfo h2{
	font-family:"Montserrat", sans-serif;
	color:#ff6600;
	}
.ketopiainfo h3{
	font-family:"Montserrat", sans-serif;
	font-size:26px;
	color:#ff6600;
	}
.small{
	font-size:11px;
	color:#999;
	}
.allnatural{
	background: #ff5a00;
	padding-top:40px;
    padding-bottom:40px;
    color:#fff;
    text-align: center;
	}
.allnatural .bar60{
    line-height:45px;
}
.footer2{
	background:#e1e3de;
	}
.deskimg{
	float:right;
}
.viraltext{
	display:block;
    color:#fff;
}
.viraltextm{
	display:none;
}

@media (max-width: 1200px) {
.os46{
	font-size:36px;
	}
.os28{
	font:18px "Open Sans", sans-serif;
	color:#666;
	line-height:normal;
	font-weight:300;
	}
.theproofD h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:130px;
    color:#ff5a00;
    font-style: italic;
    letter-spacing: -10px;
    margin-top:100px;
}
	
}
@media (max-width: 992px) {
  .orange12{
	float:none;
	}
.headerbg{
	background:url(../images/mainmodeldk-t.jpg) top center no-repeat;
	min-height: 863px;
    background-color: #000;
}
.os28{
	font:21px "Open Sans", sans-serif;
	color:#666;
	line-height:normal;
	font-weight:300;
	}
.os46{
	font-size:26px;
	}
.os33{
	font-size:23px;
	text-transform:uppercase;
	}
.t1sub2{
	font-size:30px;
	color:#fff;
	font-weight:300;
	
	}
.grabberText2{
	font-size:40px;
	}
    #section1 h3{
   
   margin-bottom:10px;

}
    .theproofD h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:110px;
    color:#ff5a00;
    font-style: italic;
    letter-spacing: -10px;
    margin-top:100px;
        text-align: center;
}
    .ketosis-banner {
   
    min-height: 745px;
}
}
@media (max-width: 768px){
  .theproofD{
    background:url(../images/proof-bg.jpg) top right no-repeat;
    }

    #steps h4{
    font-size:54px;
}
	.ketpoia-ketosis-banner{
	background:url(../images/ketopia-ketosis-7day-bg.jpg) top center no-repeat;
	min-height:845px;
	padding-top:290px;
	}
    .space75{
	height:45px;
	display:block;
	}
.thanksheader{font-size:24px;}
.footerC2a{
	background:url(../images/footerbg.jpg) top center no-repeat;
	min-height:auto;
	padding-top:157px;
	background-size: contain;
	}
    #steps .col-sm-4{
    padding:0 40px;
}
.grabberM{
	display:block;
	}
	.formTop{
	background: #ff5a00;
	padding:25px;
	color:#fff;
	font-size:40px;
	font-family: 'Barlow Condensed', sans-serif;
	font-weight:400;
	text-align: center;
	line-height:40px;

	overflow: visible;
}
.mobileHeaderVid{
	margin:20px;
	}
.headerbg{
	background:url(../images/mainmodeldk-m.jpg) top center no-repeat;
	min-height: auto;
	background-size: contain;
}
.desktop{
	display:none;
	}
.mobile{display:block;}
.viraltext{
	display:none;
}
.viraltextm{
	display:block;
	text-align: center;
	font-size:2.5em;
	color:#5c157a;
	font-weight:800;
	font-family: 'Montserrat', sans-serif;
	line-height:1em;
}
.os28{
	font:18px "Open Sans", sans-serif;
	color:#666;
	line-height:normal;
	font-weight:300;
	}
	.FormSub{
	font-size:20px;
	font-family:"Montserrat", sans-serif;
	color:#333;
	font-weight:700;
	}
.FormTop{
	font-size:38px;
	color:#333;
	font-family:"Montserrat", sans-serif;
	font-weight:700;
	}
.os46{
	font-size:26px;
	}
.os33{
	font-size:18px;
	text-transform:uppercase;
	}
.mhid{
	display:none;
	}
.testimonial1Title{
	text-align:center;
	margin-top:173px;
	font-family:"Open Sans", sans-serif;
	color:#fff;
	font-size:34px;
	font-weight:800;
	}
.testimonial2Title{
	text-align:center;
	margin-top:123px;
	font-family:"Open Sans", sans-serif;
	color:#fff;
	font-size:34px;
	font-weight:800;
	}
.testimonial3Title{
	text-align:center;
	margin-top:123px;
	font-family:"Open Sans", sans-serif;
	color:#fff;
	font-size:34px;
	font-weight:800;
	}
.os32{
	font-size:20px;
	}
.vsup{
	display:none;
	}
.vsdwn{display:block}
.ftrCloserM{
	display:block;
	}
.ftrCloser{
	display:none;
	}
#robsVid{
	margin-top:-20px !important;
	display:none;
	}
.stayingKetosis h2{
	font-family:"Montserrat", sans-serif;
	color:#262626;
	font-size:60px;
	font-weight:600;
	padding:0;
	margin:0;
	text-align:center;
	}
    .benefits-btl{
    margin-top:-20px;
}
	}


